<%- include('./partials/header')%>
<body>
    <%- include('./partials/navbar.ejs')%>
    <div class="row mt-5">
        <div class="col-md-4 border m-auto">
            <div class="title">
                <h2 class="font-weight-bold text-center">Donar Login</h2>
            </div>
            <form action="/login" method="post" class="form">
                <div class="form-group">
                    <label for="email">Email: </label>
                    <input type="email" name="email" id="email" placeholder="Enter your full email" class="form-control">
                </div>
                <div class="form-group">
                    <label for="password">Password: </label>
                    <input type="password" name="password" id="password" placeholder="Enter your full password" class="form-control">
                </div>
                <button type="submit" class="btn btn-success mt-2 rounded-pill">Login</button>
            </form>
            <p class="h4 pt-5">Don't have an account</p>
            <a href="/register" class="btn btn-primary rounded-pill">Register as Donar</a>
        </div>
    </div>
<%- include('./partials/footer')%>