<%- include('./partials/header')%>
<body>
    <%- include('./partials/navbar')%>
    <div class="container">
        <div class="row mt-2">
            <div class="col-md-6 border m-auto">
                <h2 class="text-center">Forgot password</h2>
                <form action="/password/forgot" method="post">
                    <div class="form-group">
                        <label for="email">Email:</label>
                        <input type="email" name="email" id="email" class="form-control" placeholder="Enter your email">
                        <button type="submit" class="btn btn-success rounded-pill mt-2 mb-2">Search</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
<%- include('./partials/footer') %>