<%- include('./partials/header') %>
<body>
    <%- include('./partials/navbar')%>
    <%- include('./partials/flash') %>
    <div class="container">
        <div class="text-center pt-4">
            <h3 class="font-weight-bold text-danger"> Donate Blood Save Life</h3>
            <div class="row mt-5">
                
            </div>
        </div>
    </div>
<%- include('./partials/footer') %>