<nav class="navbar navbar-expand-lg custom-nav ">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item px-2">
          <a class="nav-link h4" href="/">Blood Management System </a>
        </li>
        <li class="nav-item px-2">
          <a class="nav-link h4" href="/register">Register As Donar</a>
        </li>
        <li class="nav-item px-2">
          <a class="nav-link h4" href="/login">Donar/Admin Login </a>
        </li>
      </ul>
    </div>
</nav>